# node
node_modules/
castle-rock-app/.next/
castle-rock-app/out/

# dbt
transform/target/
transform/dbt_packages/
transform/logs/
transform/profiles.yml

# terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars

# editor / OS
.DS_Store
.idea/
.vscode/
